
#btn-menu{
    display: none;

}
nav label{
    display: none;
    width: 30px;
    height: 30px;
    height:30px;
    padding:10px;
    border-right: 1px solid #fff;

}

}
nav label: hover{
    cursor: pointer;
}
.menu ul {
    margin:0;
    list-style:none;
    padding:0;
    display:none;


}

.menu li a {
    display:block;
    padding: 15px 20px; 


}
